<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>


<!--  <app-login></app-login> -->

<nav>
  <a routerLink = "/login"> Login</a>
  <a routerLink = "/"> Home </a>
</nav>
<router-outlet></router-outlet>

</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary">
            <td>You do not have any time sheets to display. Work harder!</td>
            <td>some more data</td>
        </tr>
        <tr class="table-primary">
            <td>Something is missing from your life. Dedication? Motivation? I'm not paying you more money!</td>
            <td>yet more data</td>
        </tr>
    </tbody>
</table>
<div>

