<div class="container">
  <h1>Login Form</h1>
  <h2>Current User: {{currentUserName}}</h2>
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" [(ngModel)]="login.username" name="username" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" [(ngModel)]="login.password" name="password" class="form-control" id="alterEgo">
    </div>

    <button (click)="onLogin(login)" type="submit" class="btn btn-success">Login</button>

  </form>

</div>