<div class="center-block">
  <h1>Login Form</h1>
  <h2>Current User: {{sessionStorage.getItem('UserName')}}</h2>
  <form style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" [(ngModel)]="login.username" name="username" autofocus class="form-control" id="name" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" [(ngModel)]="login.password" type="password" name="password" class="form-control" id="alterEgo" required>
    </div>

    <button (click)="onLogin(login)" type="submit" class="btn btn-success">Login</button>

  </form>

</div>