@model List<Philanski.Frontend.MVC.Models.TimeSheets>[]

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h4>TimeSheets</h4>
<hr />

<div>
    <div class="form-group">
        
    </div>
    <div>
        <div>
            <header>
                <h2>TimeSheets</h2>
                <a class="nav-link" asp-area="" asp-controller="TimeSheet" asp-action="Create">Current Time Sheet</a>
            </header>
        </div>
            <ul class="table">
                @for(int i = 0; i < 3; i++)
                {
                    <a asp-area="" asp-controller="TimeSheet" asp-action="Create">
                        <li class="list-group-item">
                            @Model[i][6].Date.Month/@Model[i][6].Date.Day to @Model[i][0].Date.Month/@Model[i][0].Date.Day
                        </li>
                    </a>
                }
            </ul>
        <div>

        </div>
    </div>
</div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
