@model List<Philanski.Frontend.MVC.Models.TimeSheets>[]

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h4>TimeSheets</h4>
<hr />

<div>
    <div class="form-group">
        
    </div>
    <div>
        <div>
            <header>
                <h2>TimeSheets</h2>
                <a class="btn btn-default" class="nav-link" asp-area="" asp-controller="TimeSheet" asp-action="Create">Current Time Sheet</a>
            </header>
        </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Edit/View</th>
                    </tr>
                </thead>
                </thead>
                <tbody>
                    @* TODO: Make page load without errors if Model is empty *@

                    @* If Model has at least 1 element, makes table. *@
                    @if (Model.Length > 0)
                    {
                        for (int i = 0; i < Model.Length; i++)
                        {
                            <tr class="table-primary">

                                <td>
                                    @Model[i][6].Date.Month/@Model[i][6].Date.Day to @Model[i][0].Date.Month/@Model[i][0].Date.Day
                                </td>
                                <td>
                                    <a class="btn btn-default" asp-area="" asp-controller="TimeSheet" asp-action="Create" asp-route-weekstart="@Model[i][6].Date.Date">View</a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        <div>

        </div>
    </div>
</div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
